{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}


{% set networkData  = _Network.getNetworkData() %}
{% set blogInfo     = _Blog.getBlog() %}
{% set config       = _Network.getThemeConfig() %}

{% set relatedArticles = [] %}
{% set articleBlog = article.blog.title | lower %}

{% set articleBlogInfo = _Blog.getBlog({'guid':article.blog['guid']}) %}

{% set purchasable = config.page.photos.site_cart is defined ? config.page.photos.site_cart : false %}

{% set showPaywall = false %}
{% set ArticleContent = article.content %}

{% set pwstats = {} %}
{% if not _User.isGuest() %}
    {% set pwstats = _User.getPaywallStats(false) %}
{% endif %}

{% set allowedReferrers = config['allowedReferrers'] %}
{% set headers      = _AppHelper.getHttpHeaders() %}

{% set bypassPaywall = false %}
{% if headers['referer'][0] is defined and allowedReferrers is defined %}
{% set referrrer = headers['referer'][0] | preg_replace('|http(s)*://(.+?)/.*$|', '$2') %}
    {% for ar in allowedReferrers %}
        {% if referrrer == ar %}
            {% set bypassPaywall = true %}
        {% endif %}
    {% endfor %}
{% endif %}


{% set bypassPaywall = false %}
{% if headers['referer'][0] is defined and allowedReferrers is defined %}
{% set referrrer = headers['referer'][0] | preg_replace('|http(s)*://(.+?)/.*$|', '$2') %}
    {% for ar in allowedReferrers %}
        {% if referrrer == ar %}
            {% set bypassPaywall = true %}
        {% endif %}
    {% endfor %}
{% endif %}


{% set paywallType = "" %}
{% if not _User.isAdminUser() and article.showPaywall == true %}
    {% if bypassPaywall == false %} 
        {% set showPaywall = true %}
    {% endif %}

    {# DETERMINE IF PAYWALL IS 'PAID' OR 'FREE' #}
    {% if articleBlogInfo['paywallAllowSignupOnly'] == true %}
        {# TURN FREE PAYWALL OFF FOR LOGGED IN USERS AND SET FREE PAYWALL TO SHOW #}
        
        {% if not _User.isGuest() %}
            {% set showPaywall = false %}
        {% else %}
            {% set paywallType = "signup" %}
        {% endif %}

        
    {% else %}
        {# DETERMINE WHICH PAYWALL TO SHOW #}
        {% if not _User.isGuest() %}

            {% if pwstats['type'] == 'article' %}
                {% set paywallType = "topup" %}
            {% elseif pwstats['type'] == 'time' %}
                {% set paywallType = "renew" %}
            {% else %}
                {% set paywallType = "upgrade" %}
            {% endif %}

        {% else %}
            {% set paywallType = "subscribe" %}
        {% endif %}
    {% endif %}
{% endif %}




{% set trialToggle = false %}

{% if showPaywall == true %}
    {# {% set storySplit = ArticleContent | split('<p>')  %}
    {% set para2_words = storySplit[2] | split(' ') | slice(0, 10) %}
    {% set para2 = para2_words | join(' ') ~ '</p>'  %}
    {% set ArticleContent = '<p>' ~ [storySplit[1], para2] | join('<p>') %} #}

    {% set storySplit = ArticleContent | split('</p>')  %}
    {% set para2      = storySplit[1] | slice(0, 80) ~ '</p>'  %}
    {% set ArticleContent  = [storySplit[0], para2] | join('</p>') %}

    {% set plans = _Paywall.getActiveNetworkPaywallPlans() %}

    {% for plan in plans  %}
        {% if plan.trial_status == "1" %}
            {% set trialToggle = true %}
        {% endif %}
    {% endfor %}

{% else %}
    {# Only grab these if article is not paywalled #}
    {# {% set relatedArticles = _Article.getPopularArticles({ blogId: article.blog.id, limit: 3, excludeArticleIds : [article.id], interval: 168 }) %} #}
    {% if config['inventory']['articleAd'] is defined %}
        {% set adPos = config['inventory']['articleAd']  %}
        
        {% set storySplit = ArticleContent | split('<p>')  %}

        {% if storySplit[(adPos['position'] * 2) - 1] %}
            {% if adPos['slot'] is defined %}
                {% set inarticleslot = adPos['slot'] %}
                {% set ArticleContent = '<p>' %}
                {% for para in storySplit %}
                    {% set ArticleContent = ArticleContent ~ '<p>' ~ para %}
                    {% if loop.index == adPos['position'] %}
                        {% set ArticleContent = ArticleContent ~ '<div class="u-margin-top-30 u-margin-bottom-30 '~ adPos['class'] ~'"><div class="j-adslot" id="' ~ inarticleslot ~ '" data-adshape="banner"></div></div>' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            
        {% endif %}
    {% endif %}
    
{% endif %}


{% set recentArticles = _Article.getRecentArticles({ limit: 5, excludeArticleIds : [article.id] }) %}
{% set popularArticles = _Article.getPopularArticles({ limit: 5, sortBy: 'VIEWS', scope: 'network', excludeArticleIds : [article.id],  interval: 168 }) %}


{% set watermark = false %}
{% if config['watermark']['settings'] is defined and config['watermark']['sections'][articleBlog|lower] is defined %}
    {% set watermark = config['watermark']['settings'] %}
{% endif %}




{% set articleImg = false %}
{% set featured = false %}
{% if article.media|length > 0 %}
    {% set articleImg = true %}
    {% set featured = article.media[0].type %}
{% endif %}



{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}
{% set updateDate = _AppHelper.getDefaultTimezoneDateTime(article.updatedDateTime,'F j, Y') %}


{% set updated = false %}
{% if article.publishedDateTime != article.updatedDateTime %}
    {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updatedDateTime) %}
    {% if updatedAgo < 86400 %}
        {% set updateDate = _AppHelper.getRelativeTime(article.updatedDateTime) ~ " ago" %}
    {% endif %}
    {% set updated = true %}
{% endif %}



<main id="main" class="o-body-container o-body-container-md u-margin-top-60 u-mobile-no-margin-top" role="main" data-paywall-type="{{paywallType}}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 mx-auto j-article-container">
                <div class="c-article c-article-sm">
                    <div class="c-article__main">
                        <div class="c-article__head">
                            <div class="c-article__posted-on">
                                <time class="c-article__published">{{article.publishedDate}}</time>
                                {% if updated %}
                                    <time class="c-article__updated">Updated {{ updateDate | capitalize }}</time>
                                {% endif %}
                            </div>
                            <div class="c-article__title">
                                {{ quotes.smarten(article.title) }}
                            </div>

                            <div class="c-article__social">
                                <div class="c-article__social-text">Share article</div>
                                <div class="c-article__social-icon">
                                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{article.url}}" target="_blank" >
                                        <div class="c-article__social-icon c-article__social-icon--linkedin">
                                            {{ this.render('/partials/icons.twig', {icon: 'linkedin'} ) | raw }}
                                        </div>
                                    </a>
                                
                                    <a href="https://twitter.com/share?text={{ article.title|url_encode }}&url={{article.url}}" target="_blank">
                                        <div class="c-article__social-icon c-article__social-icon--twitter">
                                        {{ this.render('/partials/icons.twig', {icon: 'twitter'} ) | raw }}
                                        </div>
                                    </a>
                                
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}&title={{ article.title|url_encode }}" target="_blank">
                                        <div class="c-article__social-icon c-article__social-icon--facebook">
                                        {{ this.render('/partials/icons.twig', {icon: 'facebook'} ) | raw }}
                                        </div>
                                    </a>

                                    <a href="mailto:?subject=Check%20out%20this%20article&body={{article.url}}" target="_blank" >
                                        <div class="c-article__social-icon c-article__social-icon--email">
                                            {{ this.render('/partials/icons.twig', {icon: 'email'} ) | raw }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                            

                            {% if _User.isAdminUser() %}
                                <a href="{{article.editUrl}}" target="_blank" class="c-article__edit-link">Edit article</a>
                            {% endif %}
                        </div>

                        {% if articleImg %} 

                            <div class="gallery-container relative">
                                {% set galleryStyle = 'article' %}
                                {% if article.media|length > 1 %}
                                    {% set galleryStyle = 'gallery' %}
                                {% endif %}


                                {% if article.media|length > 0 %}
                                    {% set imageFeature = featured == 'image' ? true : false %}
                                    {{this.render('partials/gallery.twig', {
                                        media: article.media,
                                        default: imageFeature,
                                        watermark: watermark,
                                        galleryStyle: galleryStyle,
                                        showPaywall: showPaywall,
                                        purchasable: purchasable
                                    }) | raw}}
                                {% endif %}
                            </div> 

                        {% endif %}

                        <div class="c-article__container c-article__container-sm">
                                {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                        </div>

                        {% if showPaywall == true %}
                            {{this.render('partials/article/paywall_article_notice.twig', {networkData:networkData, paywallType:paywallType}) | raw}}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% set theKeywords = '' %}
    {% if article.keywords is defined and article.keywords != '' %}
        {% set theKeywords = article.keywords %}
    {% elseif blogInfo.keywords is defined and blogInfo.keywords != '' %}
        {% set theKeywords = blogInfo.keywords %}
    {% endif %}
    <div class="j-keyword-cont" data-keywords="{{theKeywords}}"></div>
</main>





<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        Acme.articleController = Acme.ArticleController();
    });
</script>