{{ set(this, 'title', _Blog.getBlogTitle()) }}

{% cache 'indexCache_1' 300 %}


{% set networkData  = _Network.getNetworkData() %}
{% set layoutTitle  = _Page.getLayoutTitle() | lower | replace({' ': '_'}) %}
{% set blogData     = _Blog.getBlog() %}
{% set homeBlog     = blogData['title'] | lower %}
{% set config       = _Network.getThemeConfig() %}
{% set layout       = blogData.layout %}
{% set dev          = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set bannerSpots  = [3,5] %}
{% set blogFeeds    = {} %}
{% set panels       = [] %}
{% set breaking = {} %}


{% set themeColor = "#4A90E2" %}
{% if networkData['styling']['colours']['primaryColor'] is defined %}
    {% set themeColor = networkData['styling']['colours']['primaryColor'] %}
{% endif %}


{# *******************************************************
            CONFIG OPTIONS SET IN PLATFORM
******************************************************* #}

{% if config['active'] is not defined or config['active'] == true %}

    {% if config['page']['index']['sections'] is defined %}

        {% set panels = config['page']['index']['sections'] %}

        {% set sectionOrder = panels | keys %}

        {% set blogFeeds = {} %}

        {% for i, panel in panels %}

            {% if panel['articleOrder'] is defined %}

                {# If a panel has multiple blogs we get the count of items to fetch from iterating
                over the articleOrder array #}
                {% for blogName in panel['articleOrder'] %}

                    {% if blogFeeds[blogName] is not defined %}
                        {% set blogFeeds = blogFeeds | merge({ (blogName): { "limit" : 1} }) %}
                    {% else %}

                        {% set count = blogFeeds[blogName].limit %}

                        {% set blogFeeds = blogFeeds | merge({ (blogName): { "limit" : count + 1} }) %}
                    {% endif %}
                {% endfor %}



            {# If a panel has a single blog we get the count of items to fetch from checking the articleCount key #}
            {% else %}

                {% set blogName = panel['blog'] %}

                {% if panel['articleCount'] is defined %}

                    {% set count = panel['articleCount'] %}
                    
                    {% if blogFeeds[blogName] is not defined or blogFeeds[blogName].limit < count %}
                        {% set blogFeeds = blogFeeds | merge({ (blogName): { "limit" : count} }) %}
                    {% endif %}

                {% endif %}
            {% endif %}

        {% endfor %}
        
    {% endif %}



    {% if layoutTitle == 'index_breaking_news' %}
        {% if config['page']['index']['breaking-news'] is defined %}
            {% set breaking = config['page']['index']['breaking-news'] %}
            {% set blogFeeds = blogFeeds | merge({
                (breaking.section) : { 
                    "limit" : breaking.limit
                    } 
                }) %}
        {% endif %}
    {% endif %}

    {% if config['inventory'][homeBlog]['bannerSpots'] is defined %}
        {% set bannerSpots = config['inventory'][homeBlog]['bannerSpots'] %}
    {% endif %}

{% endif %}




{# <div class="clearfix"></div> #}


<main id="main" class="site-main" role="main" data-layout="{{layoutTitle}}">


<div class="cta-wrapper cta-d1">
    <div class="cta-info">
        <div class="cta-info__icon">
            <div class="d-none d-md-flex">
                <svg width="725" height="501" viewBox="0 0 725 501" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-215.553 409.136C1.01713 440.31 -151.754 485.182 220.045 593.934C591.844 702.688 821.13 475.717 684.883 217.536C548.636 -40.6441 573.593 -392.399 288.288 -466.833C2.98261 -541.266 -430.935 378.089 -215.553 409.136Z" fill="{{themeColor}}" />
                </svg>
            </div>
            <div class="d-flex d-md-none responsive-shape">
                <svg width="1048" height="307" viewBox="0 0 1048 307" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_50_404" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1048" height="307">
                        <rect width="307" height="1047.86" transform="matrix(0 1 1 0 0 0)" fill="{{themeColor}}"/>
                    </mask>
                    <g mask="url(#mask0_50_404)">
                        <path d="M794.605 2023.14C892.26 1571.12 964.345 1899.83 1248.45 1131.97C1532.56 364.112 1087.82 -152.773 523.393 96.424C-41.0379 345.621 -778.993 241.141 -977.992 831.7C-1176.99 1422.26 697.392 2472.67 794.605 2023.14Z" fill="{{themeColor}}"/>
                    </g>
                </svg>


            </div>
        </div>
        <div class="cta-info__content">
            <h2>Lorem ipsum oane aiorl bauess teiar</h2>
            <p>Proin tempor ligula at sodales tempor. Praesent lobortis, ligula ac ultricies lobortis, mauris purus tempus ante, ac varius diam dolor eu elit. </p>
            <a href="javascript:;" class="c-button c-button--rounded c-button--theme">CTA</a>
        </div>
    </div>
    <div class="cta-image" style="background-image: url('{{networkData.templatePath}}/static/images/cta_image.png')"></div>
</div>
<div class="cta-wrapper cta-d2" style="height: 600px"></div>
<div class="c-section-panel__background">
    <section class="container ">    
        <div class="row" data-section="01">
            <div class="col-12">
                <div class="c-page-head c-page-head-xs inverse">
                    <div class="u-heading__large u-heading__large-xs">Lorem ipsum & ipsum</div>
                    <div class="u-heading__large u-heading__large-xs">Vivamus sagittis mi vitae ipsum porttitor vehicula id in dolor.</div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="cta-wrapper cta-d3"></div>
<div class="cta-wrapper cta-d4">
</div>

</main><!-- .site-main -->




{% endcache %}
