{% set articleCount = 0 %}
{% set cardIndex = 0 %}
{% set labelInfo = cusLabel ? 'hide_labels' : '' %}
{% set noAuthor = authorHide ? 'hide_author' : '' %}

<div class="row" data-section="02">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <a href="{{link}}" class="c-page-head__link">View all</a>
        </div>
    </div>

</div>
<div class="row {{labelInfo}} {{noAuthor}}">


    <div class="col-12 col-md-8 col-xl-6 order-md-2 u-tablet-border-left u-desktop-lg-border-left u-desktop-lg-border-right">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                position: (articleCount+1),
                imageSize: {width: 720, height: 420},
                containerClass: "card-1-mobile card-5-tablet card-5-desktop card-5-desktop-lg card-highlight card-negative"
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

        {% endif %}
        <hr class="o-rule o-rule--15 d-md-none">
    </div>
    
    <div class="col-12 col-md-4 col-xl-3 order-md-1">
        <div class="row">
            <div class="col-12">
                {% if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 720, height: 420},
                        containerClass: "card-2-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>
            <div class="col-12">
                <hr class="o-rule o-rule--15">
            </div>
            {% if articles[articleCount] %}
                <div class="col-12">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 720, height: 420},
                        containerClass: "card-2-mobile card-4-tablet card-4-desktop card-4-desktop-lg"
                    }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                

            {% endif %}
            
        </div>
    </div>
    
    <div class="col-12 col-xl-3 order-md-3">
       <div class="col-12  d-xl-none">
                <hr class="o-rule o-rule--15">
            </div>
        <div class="row">   
            {% if articles[articleCount] %}
                <div class="col-12 col-md-4 col-xl-12{% if i < 2 %} u-tablet-border-right u-desktop-border-right{% endif %}">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        containerClass: "card-2-mobile card-2-tablet card-2-desktop card-4-desktop-lg"
                    }) | raw}}
                </div>
                
                
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                
                    <div class="col-12 d-md-none d-xl-block">
                        <hr class="o-rule o-rule--15">
                        {# <hr class="o-rule d-md-block"> #}
                    </div>
               
                
            {% endif %}
            {% for i in 0..1 if articles[articleCount] %}
                <div class="col-12 col-md-4 col-xl-12{% if i < 2 %} u-tablet-border-right u-desktop-border-right{% endif %}">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        containerClass: "card-2-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
                    }) | raw}}
                </div>
                
                
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% if i == 0 %}
                    <div class="col-12 d-md-none d-xl-block">
                        <hr class="o-rule o-rule--15">
                        {# <hr class="o-rule d-md-block"> #}
                    </div>
                {% endif %}
                
            {% endfor %}
           
        </div>

    </div>
    <div class="col-12  d-md-none">
        <hr class="o-rule o-rule--15">
    </div>
    
</div><!-- row -->
<div class="row">

    {% if articles[articleCount] %}
        <div class="col-12">
            <hr class="o-rule o-rule--15 d-none d-md-block">
            <div class="row">
                {% for i in 0..3 if articles[articleCount] %}
                    <div class="col-12 col-md-6 col-xl-3 {% if i in [0,2] %} u-tablet-border-right u-desktop-border-right u-desktop-lg-border-right{% elseif i == 1 %} u-desktop-lg-border-right{% endif %}">
                        {{this.render('../_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 720, height: 420},
                            containerClass: "card-2-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                    {% if i == 1 %}
                        <div class="col-12 d-xl-none">
                            <hr class="o-rule o-rule--15">
                        </div>
                    {% elseif i in [0,2] %}
                        <div class="col-12 d-md-none">
                            <hr class="o-rule o-rule--15">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if articles[articleCount] %}
        <div class="col-12">
            <hr class="o-rule o-rule--15 d-none d-md-block">
            <div class="row">
                {% for i in 0..3 if articles[articleCount] %}
                    <div class="col-12 col-md-6 col-xl-3 {% if i in [0,2] %} u-tablet-border-right u-desktop-border-right u-desktop-lg-border-right{% elseif i == 1 %} u-desktop-lg-border-right{% endif %}">
                        {{this.render('../_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 720, height: 420},
                            containerClass: "card-2-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                    {% if i == 1 %}
                        <div class="col-12 d-xl-none">
                            <hr class="o-rule o-rule--15">
                        </div>
                    {% elseif i in [0,2] %}
                        <div class="col-12 d-md-none">
                            <hr class="o-rule o-rule--15">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div><!-- row -->