{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{% set labelInfo = cusLabel ? 'hide_labels' : '' %}
{% set noAuthor = authorHide ? 'hide_author' : '' %}

<div class="row" data-section="07">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <a href="{{link}}" class="c-page-head__link">View all</a>
        </div>
    </div>
</div>


<div class="row {{labelInfo}} {{noAuthor}}">
    <div class="col-12 col-md-8 col-xl-6 u-tablet-border-right u-desktop-border-right u-desktop-lg-border-right">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                position: (articleCount+1),
                imageSize: {width: 1024, height: 768},
                containerClass: "card-11-mobile card-11-tablet card-11-desktop card-11-desktop-lg card-highlight"
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

        {% endif %}
        <hr class="o-rule o-rule--15 d-md-none">
    </div>
    
    <div class="col-12 col-md-4 col-xl-3 u-desktop-lg-border-right">
        <hr class="o-rule o-rule--15 d-md-none">
        <div class="row">   
            {% if articles[articleCount] %}
                <div class="col-12">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        containerClass: "card-2-mobile card-4-tablet card-4-desktop card-4-desktop-lg card-video"
                    }) | raw}}
                </div>
                
                
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    <div class="col-12 d-md-none">
                        <hr class="o-rule o-rule--15">
                        {# <hr class="o-rule d-md-block"> #}
                    </div>
                
            {% endif %}
            
        </div>

    </div>    
    
    <div class="col-12 col-xl-3">
        <hr class="o-rule o-rule--15 d-none d-md-block d-xl-none">
        <div class="row">
            
            {% for i in 0..2 if articles[articleCount] %}
                <div class="col-12 col-md-4 col-xl-12 {% if i < 2 %} u-tablet-border-right u-desktop-border-right{% endif %}">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 720, height: 420},
                        containerClass: "card-2-mobile card-2-tablet card-2-desktop card-2-desktop-lg card-video"
                    }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                {% if i < 2 %}
                    <div class="col-12 d-md-none d-xl-block">
                        <hr class="o-rule o-rule--15">
                    </div>
                {% else %}
                    <div class="col-12 d-md-none">
                        <hr class="o-rule o-rule--15">
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
    
    
</div> <!-- row -->