{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{% set labelInfo = cusLabel ? 'hide_labels' : '' %}
{% set noAuthor = authorHide ? 'hide_author' : '' %}

<div class="row {{labelInfo}} {{noAuthor}}" data-section="08">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <a href="{{link}}" class="c-page-head__link">View all</a>
        </div>
    </div>


    {% for i in 0..11 if articles[articleCount] %}
        {% set borderClass = '' %}
        {% if (i + 1) is not divisible by(4) %}
            {% set borderClass = borderClass ~ ' u-desktop-lg-border-right' %}
        {% endif %}
        {% if (i + 1) is not divisible by(3) %}
            {% set borderClass = borderClass ~ ' u-desktop-border-right u-tablet-border-right' %}
        {% endif %}
        <div class="col-12 col-md-4 col-xl-3{{borderClass}}">
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                position: (articleCount+1),
                imageSize: {width: 480, height: 640, medWidth:480, medHeight:340, smlWidth:480, smlHeight:640},
                containerClass: "card-15-mobile card-15-tablet card-15-desktop card-15-desktop-lg"
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% if i < 8 %}
                <hr class="o-rule o-rule--15">
            {% elseif i < 9 %}
                <hr class="o-rule o-rule--15 d-xl-none">
            {% elseif i < 11 %}
                <hr class="o-rule o-rule--15 d-md-none">
            {% endif %}
        </div>
        

    {% endfor %}
    
</div> <!-- row -->

