{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{% set labelInfo = cusLabel ? 'hide_labels' : '' %}
{% set noAuthor = authorHide ? 'hide_author' : '' %}

<div class="row" data-section="06">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <a href="{{link}}" class="c-page-head__link">View all</a>
        </div>
    </div>
</div>


<div class="row {{labelInfo}} {{noAuthor}}"> 
    <div class="col-12 col-xl-9 u-desktop-lg-border-right">
        <div class="row">      
            {% for i in 0..2 if articles[articleCount] %}
                <div class="col-12 col-md-4{% if i < 2 %} u-tablet-border-right u-desktop-border-right u-desktop-lg-border-right{% endif %}">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 740, height: 360},
                        containerClass: "card-4-mobile card-4-tablet card-4-desktop card-4-desktop-lg"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                {% if i < 2 %}
                    <div class="col-12 d-md-none">
                        <hr class="o-rule o-rule--15">
                        {# <hr class="o-rule d-md-block"> #}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-12">
                <hr class="o-rule o-rule--15">
            </div>
            {% if articles[articleCount] %}
                <div class="col-12 col-md-4 u-tablet-border-right u-desktop-border-right u-desktop-lg-border-right">
                    <div class="row">
                        {% for i in 0..1 if articles[articleCount] %}
                            <div class="col-12">  
                            {% if i == 1 %}<hr class="o-rule o-rule--15">{% endif %}
                            {{this.render('../_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1),
                                imageSize: {width: 740, height: 360},
                                containerClass: "card-3-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            </div>
                        {% endfor %}
                    </div>
                    <hr class="o-rule o-rule--15 d-md-none">
                </div>
            {% endif %}
            {%  if articles[articleCount] %}
                <div class="col-12 col-md-4 u-tablet-border-right u-desktop-border-right u-desktop-lg-border-right">
            
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 740, height: 360},
                        containerClass: "card-3-mobile card-4-tablet card-4-desktop card-4-desktop-lg"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    <hr class="o-rule o-rule--15 d-md-none">
            

                </div>
            {% endif %}
            {%  if articles[articleCount] %}
                <div class="col-12 col-md-4 u-tablet-border-right u-desktop-border-right u-desktop-lg-border-right">
                    {% for i in 0..2 if articles[articleCount] %}
                        {% if i > 0 %}<hr class="o-rule o-rule--15">{% endif %}
                        {{this.render('../_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 740, height: 360},
                            containerClass: "card-2-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
      
             
    <div class="col-12 col-xl-3 d-md-none d-xl-block">
        {% if adslots[0] is defined %}
            <div class="j-adslot" id="{{adslots[0]}}" data-adshape="hpage"></div>
        {% endif %}
    </div>
</div>