{% set articleCount = 0 %}
{% set cardIndex = 0 %}

<div class="row {{labelInfo}} {{noAuthor}}" data-section="00">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <div class="sub-head">{{description}}</div>
            {#<a href="{{link}}" class="c-page-head__link">View all</a>#}
        </div>
    </div>
</div>

<div class="row">
    {% for i in 0..5 if articles[articleCount] %}
        <div class="col-12 col-md-4">
            {{this.render('../_single-article.twig', {
            article: articles[articleCount],
            position: (articleCount+1),
            imageSize: {width: 330, height: 236},
            containerClass: "card-1-mobile card-1-tablet card-1-desktop",
            timeSuppress: timeSuppress
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        </div>
    {% endfor %}
</div>

