{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{% set popularArticles = _Article.getPopularArticles({ limit: 5, sortBy: 'VIEWS', scope: 'network' }) %}
{% set labelInfo = cusLabel ? 'hide_labels' : '' %}
{% set noAuthor = authorHide ? 'hide_author' : '' %}

<div class="row {{labelInfo}} {{noAuthor}}" data-section="00">
    
    
    <div class="col-12 col-xl-9 u-desktop-lg-border-right">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSize: {width: 720, height: 420},
            containerClass: "card-1-mobile card-1-tablet card-1-desktop card-1-desktop-lg"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
    </div>

    {# behaviour: 'lightbox', #}
    <div class="col-12 d-xl-none">
        <hr class="o-rule o-rule--15">
        {# <hr class="o-rule d-md-block"> #}
    </div>

    <div class="col-12 col-xl-3">
        <div class="row">
                
                {% for i in 0..3 if articles[articleCount] %}
                    <div class="col-12 col-md-4 col-xl-12{% if i < 2 %} u-tablet-border-right u-desktop-border-right{% elseif i > 2 %} d-md-none d-xl-block{% endif %}">
                        {{this.render('../_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            containerClass: "card-2-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
                        }) | raw}}
                    </div>
                    
                    {% if i < 3 %}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        <div class="col-12 d-md-none d-xl-block">
                            <hr class="o-rule o-rule--15">
                            {# <hr class="o-rule d-md-block"> #}
                        </div>
                    {% endif %}
                {% endfor %}
            
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            
            <div class=" col-6 col-md-4 col-xl-3 u-no-padding-right">
                <hr class="o-rule o-rule--color o-rule--thicker" >
            </div>
            <div class="col-6 col-md-4 col-xl-3 no-padding">
                <hr class="o-rule o-rule--thick">
            </div>
            <div class="d-none d-md-block col-12 col-md-4 col-xl-3 u-desktop-no-padding  u-tablet-no-padding-left">
                <hr class="o-rule o-rule--thick">
            </div>
            <div class="d-none d-xl-block col-xl-3 u-no-padding-left">
                <hr class="o-rule o-rule--thick"> 
            </div>
            {% for i in 0..4 if articles[articleCount] %}
                {% set cols = [' u-tablet-border-right d-none d-md-block d-xl-none',' u-tablet-border-right u-desktop-lg-border-right',' u-tablet-border-right u-desktop-lg-border-right',' d-md-none d-xl-block u-desktop-lg-border-right',' d-md-none d-xl-block'] %}
                <div class="col-12 col-md-4 col-xl-3{{cols[i]}}">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        containerClass: "card-2-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
                    }) | raw}}
                </div>
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% if i > 0 and articles[articleCount] %}
                    
                    <div class="col-12 d-md-none">
                        <hr class="o-rule o-rule--15">
                        {# <hr class="o-rule d-md-block"> #}
                    </div>
                {% endif %}
            {% endfor %}
            {% if articles[(articleCount + 1)] %}
                    <div class="col-12 d-none d-md-block">
                        <hr class="o-rule o-rule--15">
                        {# <hr class="o-rule d-md-block"> #}
                    </div>
                {% set articleCount = articleCount - 2 %}
                {% for i in 0..5 if articles[articleCount] %}
                    {% set cols = [' u-tablet-border-right d-none d-md-block d-xl-none',' u-tablet-border-right d-none d-md-block d-xl-none',' u-tablet-border-right u-desktop-lg-border-right',' u-tablet-border-right u-desktop-lg-border-right',' u-tablet-border-right u-desktop-lg-border-right',' u-tablet-border-right u-desktop-lg-border-right'] %}
                    <div class="col-12 col-md-4 col-xl-3{{cols[i]}}">
                        {{this.render('../_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            containerClass: "card-2-mobile card-3-tablet card-3-desktop card-3-desktop-lg"
                        }) | raw}}
                    </div>
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% if i > 2 and i < 5 and articles[articleCount] %}
                        
                        <div class="col-12 d-md-none">
                            <hr class="o-rule o-rule--15">
                            {# <hr class="o-rule d-md-block"> #}
                        </div>
                    {% elseif i == 2 and articles[articleCount] %}
                        <div class="col-12 d-xl-none">
                            <hr class="o-rule o-rule--15">
                            {# <hr class="o-rule d-md-block"> #}
                        </div>
                    {% endif %}
                    
                {% endfor %}


            {% endif %}

        </div>

    </div>


        {% if adslots[0] is defined %}
            <div class="j-adslot" id="{{adslots[0]}}" data-adshape="mrec"></div>
        {% endif %}
    </div>
</div>
