{% set link = _Blog.getHomeBlogSettings() %}
{% set footerLogo = networkData.templatePath~'/static/images/logo.svg' %}
{% if networkData.logoMedia | length > 0 %}
    {% set footerLogo = _Media.getMediaUrl(networkData.secondaryLogoMedia, 650, 144, {'crop': 'fit'} )%}
{% endif %}
{% set footerMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'footer'}) %}
{% set legalMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'legal'}) %}

{% set newsletterTitle = 'Join our mailing list' %}
{% set newsletterText = 'subscribe to our newsletter' %}
{% set button = 'subscribe' %}
{% set link = '' %}

{% if config['footer']['newsletterTitle'] is defined and config['footer']['newsletterTitle'] != '' %} 
    {% set newsletterTitle = config['footer']['newsletterTitle'] %}
{% endif %}
{% if config['footer']['newsletterText'] is defined and config['footer']['newsletterText'] != '' %} 
    {% set newsletterText = config['footer']['newsletterText'] %}
{% endif %}
{% if config['footer']['ctabutton'] is defined and config['footer']['ctabutton'] != '' %}
    {% set button = config['footer']['ctabutton'] %}
{% endif %}
{% if config['footer']['ctalink'] is defined and config['footer']['ctalink'] != '' %}
    {% set link = ' href='~config['footer']['ctalink']~' target="_blank"' %}
{% endif %}

<footer class="c-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 c-footer__items">
                <a href="{{networkData.defaultBlogUrl}}" class="c-footer__logo">
                    <img src="{{footerLogo}}" class="image-fluid"/>
                </a>
                <div class="c-footer__social">
                    {% if config['social']['youtube'] != '' %}
                        <a href="{{config['social']['youtube']}}" target="_blank" class="c-footer__social__icon c-footer__social__icon--youtube">
                            {{ this.render('../../../partials/icons.twig', {icon: 'youtube'} ) | raw }}
                        </a>
                    {% endif %}
                    {% if config['social']['instagram'] != '' %}
                        <a href="{{config['social']['instagram']}}" target="_blank" class="c-footer__social__icon c-footer__social__icon--instagram">
                            {{ this.render('../../../partials/icons.twig', {icon: 'instagram'} ) | raw }}
                        </a>
                    {% endif %}
                    {% if config['social']['twitter'] != '' %}
                        <a href="{{config['social']['twitter']}}" target="_blank" class="c-footer__social__icon c-footer__social__icon--twitter">
                            {{ this.render('../../../partials/icons.twig', {icon: 'twitter'} ) | raw }}
                        </a>
                    {% endif %}
                    {% if config['social']['facebook'] != '' %}
                        <a href="{{config['social']['facebook']}}" target="_blank" class="c-footer__social__icon c-footer__social__icon--facebook">
                            {{ this.render('../../../partials/icons.twig', {icon: 'facebook'} ) | raw }}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-3">
            {{ this.render('../_submenu_navigation.twig', {items: legalMenu, class:'c-footer__bottom__menuitem'}) | raw }}
            </div>
            <div class="col-12 col-md-3">
            hh
            </div>
        </div>
    </div>
    <div class="c-footer__bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="c-footer__copytext">
                        &copy; Copyright {{networkData.title}} {{ "now"|date("Y") }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="c-footer__bottom__powered-by">
                        <img src="{{networkData.templatePath}}/static/icons/path.svg" class="powered-img" alt="image">
                        Designed & Powered by
                        <a href="https://publish.pagemasters.com/" target="_blank">Pagemasters Publish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>