{% for item in menu %}
    <div class="{{menuClass[loop.index]}}">
        <ul>
            <li class="{{primaryClass[loop.index]}}">
                <a  href="{{item.link | raw}}"
                    {% if parentItem.target != "" %} 
                        target="{{parentItem.target}}"
                    {% endif %} 
                >
                    {% if 'empty' in primaryClass[loop.index] %}
                        &nbsp;
                    {% elseif item.label != "" %}
                        {{item.label}}
                    {% elseif item.blogTitle != "" %}
                        {{item.blogTitle}}
                    {% elseif item.pageTitle != "" %}
                        {{item.pageTitle}}
                    {% endif %}

                </a>
            </li>

            {% if item.children|length > 0  %}
                
                    {% for childItem in item.children %}
            

                        <li class="{{childClass}}">
                            <a href="{{childItem.link |raw}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                                {{ ((childItem.label is empty) ? ((childItem.pageTitle is empty) ? childItem.blogTitle : childItem.pageTitle) : childItem.label)}}
                            </a>
                        </li>
                    {% endfor %}
                
            {% endif %}
        </ul>
    </div>
{% endfor %}
