{% set headermenu = _Menu.get({'menuType': 'header', "menuGroupName":"header-main"}) %}
{% set miniMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'header-mini'}) %}

{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}

{% set logo = networkData.templatePath~'/static/images/logo.svg'%}

{% set logoWidth = 758 %}
{% set logoHeight = 114 %}

{% set paywall = true %}
{% if config['paywall']['active'] is defined and config['paywall']['active'] == false %}
    {% set paywall = false %}
{% endif %}

{% if config['logo'] is defined %}
    {% if config['logo']['width'] is defined %}
        {% set logoWidth = config['logo']['width'] %}

        {% if config['logo']['height'] is not defined %}
            {% set logoHeight = 0 %}
        {% endif %}
    {% endif %}

    {% if config['logo']['height'] is defined %}
        {% set logoHeight = config['logo']['height'] %}

        {% if config['logo']['width'] is not defined %}
            {% set logoWidth = 0 %}
        {% endif %}

    {% endif %}
{% endif %}



{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.logoMedia, logoWidth, logoHeight, {'crop': 'fit'} ) %}
{% endif %}


{% set dateFormat = "l, j F Y" %}
{% if config['dateFormat'] is defined and config['dateFormat'] != "" %}
    {% set dateFormat = config['dateFormat'] %}
{% endif %}
{% set theDate = _AppHelper.getCurrentTimestampBasedOnTimezone() %}
{% set date = _AppHelper.getDefaultTimezoneDateTime(theDate, dateFormat) %}
{% set site = networkData.title | lower | replace({" ":"-"}) %}

<header class="c-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="c-header__main">
                    <div class="c-header__main__ls">
                        <a href="{{networkData.defaultBlogUrl}}" class="c-header__main__logo {{ site }}">
                            <figure class="c-header__main__figure">
                                <img src="{{logo}}" class="image-fluid {{ site }}" />
                            </figure>
                        </a>
                    </div>
                    <div class="c-header__main__rs">
                        <div class="c-header__main__resp d-flex d-md-none">
                            <div class="c-hamburger__wrap js-menu">
                                <div class="c-hamburger__wrap-text">Menu</div>
                                <div class="c-hamburger__wrap-icons o-hamburger"></div>
                            </div>
                        </div>
                        <div class="c-header__main__desk d-none d-md-flex align-items-center">
                            <ul class="c-navigation-0__list">
                                {{ this.render('../../../partials/_menu.twig', {'menu': headermenu}) | raw }}
                            </ul>
                            <a href="javascript:;" class="c-button c-button--rounded c-button--theme">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="c-sidebarMenu">
    <div class="c-sidebarMenu__closeInfo">
        <button class="js-closeMenu">
            <span class="text">Close</span>
            <span class="icon">
                <img src="{{networkData.templatePath}}/static/icons/icons-reverse.svg" class="img-fluid" /> 
            </span>
        </button>
    </div>
    <div class="c-sidebarMenu__mainNav">
        <ul class="c-navigation-0__list">
            {{ this.render('../../../partials/_menu.twig', {'menu': headermenu}) | raw }}
        </ul>
    </div>
</div>