{% set headermenu = _Menu.get({'menuType': 'header', "menuGroupName":"header-main"}) %}
{% set miniMenu = _Menu.get({'menuType': 'header', 'menuGroupName': 'header-mini'}) %}

{% set loggedin = _User.isGuest() ? false : true %}
{% set user = loggedin ? _User.getUser() : null %}

{% set logo = networkData.templatePath~'/static/images/logo.svg'%}

{% set logoWidth = 758 %}
{% set logoHeight = 114 %}

{% set paywall = true %}
{% if config['paywall']['active'] is defined and config['paywall']['active'] == false %}
    {% set paywall = false %}
{% endif %}

{% if config['logo'] is defined %}
    {% if config['logo']['width'] is defined %}
        {% set logoWidth = config['logo']['width'] %}

        {% if config['logo']['height'] is not defined %}
            {% set logoHeight = 0 %}
        {% endif %}
    {% endif %}

    {% if config['logo']['height'] is defined %}
        {% set logoHeight = config['logo']['height'] %}

        {% if config['logo']['width'] is not defined %}
            {% set logoWidth = 0 %}
        {% endif %}

    {% endif %}
{% endif %}



{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.logoMedia, logoWidth, logoHeight, {'crop': 'fit'} ) %}
{% endif %}


{% set dateFormat = "l, j F Y" %}
{% if config['dateFormat'] is defined and config['dateFormat'] != "" %}
    {% set dateFormat = config['dateFormat'] %}
{% endif %}
{% set theDate = _AppHelper.getCurrentTimestampBasedOnTimezone() %}
{% set date = _AppHelper.getDefaultTimezoneDateTime(theDate, dateFormat) %}
{% set site = networkData.title | lower | replace({" ":"-"}) %}


<header class="c-header-4" data-header="0">
    <div class="container">
        <div class="row">
            
            
            
            {# ******************************************************
                                 MINI MENU
            ****************************************************** #}
            <div class="col-12 c-header-4__container d-none d-xl-block">
               <div class="row u-desktop-margin-top-20">
                    <div class="col-6">
                        {% if config['social'] is defined %}
                            
                            <div class="c-header-4-top-bar__social">
                                {% if config['social']['youtube'] != '' %}
                                    <a href="{{config['social']['youtube']}}" target="_blank" class="c-header-4-top-bar__social__icon c-header-4-top-bar__social__icon--youtube">
                                        {{ this.render('../../../partials/icons.twig', {icon: 'youtube'} ) | raw }}
                                    </a>
                                {% endif %}
                                {% if config['social']['instagram'] != '' %}
                                    <a href="{{config['social']['instagram']}}" target="_blank" class="c-header-4-top-bar__social__icon c-header-4-top-bar__social__icon--instagram">
                                        {{ this.render('../../../partials/icons.twig', {icon: 'instagram'} ) | raw }}
                                    </a>
                                {% endif %}
                                {% if config['social']['twitter'] != '' %}
                                    <a href="{{config['social']['twitter']}}" target="_blank" class="c-header-4-top-bar__social__icon c-header-4-top-bar__social__icon--twitter">
                                        {{ this.render('../../../partials/icons.twig', {icon: 'twitter'} ) | raw }}
                                    </a>
                                {% endif %}
                                {% if config['social']['facebook'] != '' %}
                                    <a href="{{config['social']['facebook']}}" target="_blank" class="c-header-4-top-bar__social__icon c-header-4-top-bar__social__icon--facebook">
                                        {{ this.render('../../../partials/icons.twig', {icon: 'facebook'} ) | raw }}
                                    </a>
                                {% endif %}
                            </div>
                            
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <div class="justify-content-right"> 

                        {% if paywall == true %}

                            {% if loggedin %}
                                <a href="{{_AppHelper.getLogoffUrl()}}">
                                     <div class="c-button c-button--grey-bordered c-header-4-top-bar__login-button">Log off</div>
                                </a>
                                <a href="{{networkData.defaultBlogUrl}}/user/edit-profile">
                                    <div class="c-button c-button--blue c-header-4-top-bar__login-button">My Account</div>
                                </a>
                                
                            {% else %}
                                <a id="signinBtn" href="javascript:;" >
                                    <div class="c-button c-button--grey-bordered c-header-4-top-bar__login-button">Log in</div>
                                </a>
                                <a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions">
                                    <div class="c-button c-button--blue c-header-4-top-bar__login-button">Subscribe</div>
                                </a>
                                
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>

               </div>
            </div>  

                
                
                {# <div class="c-header-4__login-info">
                    {% if loggedin %}
                        <a class="c-header-4__login-text" href="{{networkData.defaultBlogUrl}}/user/edit-profile">My Account</a>
                        <a class="c-header-4__login-text" href="{{_AppHelper.getLogoffUrl()}}">Log out</a>
                    {% else %}
                        <a class="c-header-4__login-text" id="signinBtn" href="javascript:;" >Log in</a>
                        <a class="c-header-4__login-text" href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions">Subscribe</a>
                    {% endif %}
                </div> #}
        </div>


        <div class="row u-mobile-margin-bottom-15 u-mobile-border-bottom u-tablet-border-bottom u-desktop-border-bottom u-border-light">

            

            <div class="col-12 u-margin-bottom-15">


                

                    
                    
                    <a href="{{networkData.defaultBlogUrl}}" class="c-header-4__main-info__logo {{ site }}">
                        <figure class="c-header-4__main-info__figure">
                            <img src="{{logo}}" class="image-fluid {{ site }}" />
                        </figure>
                        
                    </a>

                    <div class="c-navigation-4__icons">
                        <div class="justify-content-right"> 
                            <div class="c-navigation-4__icons__menu js-menu">
                                {{ this.render('../../../partials/icons.twig', {icon: 'hamburger'} ) | raw }}
                            </div>

                            <div class="d-none d-md-flex d-xl-none" style="margin-right:25px;float:right;">
                            {% if paywall == true %}
                                {% if loggedin %}
                                    <a href="{{_AppHelper.getLogoffUrl()}}">
                                        <div class="c-button c-button--grey-bordered c-header-4-top-bar__login-button" style="margin-right: 10px;">Log off</div>
                                    </a>
                                    <a href="{{networkData.defaultBlogUrl}}/user/edit-profile">
                                        <div class="c-button c-button--blue c-header-4-top-bar__login-button">My Account</div>
                                    </a>
                                    
                                {% else %}
                                    <a id="signinBtn" href="javascript:;" >
                                        <div class="c-button c-button--grey-bordered c-header-4-top-bar__login-button" style="margin-right: 10px;">Log in</div>
                                    </a>
                                    <a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions">
                                        <div class="c-button c-button--blue c-header-4-top-bar__login-button">Subscribe</div>
                                    </a>
                                    
                                {% endif %}
                            {% endif %}
                            </div>
                            
                        </div>
                        
                    </div>
                    
                   
                
            </div>
        </div>
        <div class="row justify-content-between u-desktop-margin-bottom-30 u-margin-bottom-20 u-tablet-border-bottom u-mobile-border-bottom u-desktop-border-bottom u-border-light">
            <div class="col-4 d-none d-lg-block d-xl-none">
               
                {% if config['social'] is defined %}
                    
                    <div class="c-header-4-top-bar__social u-desktop-margin-top-15">
                        {% if config['social']['youtube'] != '' %}
                            <a href="{{config['social']['youtube']}}" target="_blank" class="c-header-4-top-bar__social__icon c-header-4-top-bar__social__icon--youtube">
                                {{ this.render('../../../partials/icons.twig', {icon: 'youtube'} ) | raw }}
                            </a>
                        {% endif %}
                        {% if config['social']['instagram'] != '' %}
                            <a href="{{config['social']['instagram']}}" target="_blank" class="c-header-4-top-bar__social__icon c-header-4-top-bar__social__icon--instagram">
                                {{ this.render('../../../partials/icons.twig', {icon: 'instagram'} ) | raw }}
                            </a>
                        {% endif %}
                        {% if config['social']['twitter'] != '' %}
                            <a href="{{config['social']['twitter']}}" target="_blank" class="c-header-4-top-bar__social__icon c-header-4-top-bar__social__icon--twitter">
                                {{ this.render('../../../partials/icons.twig', {icon: 'twitter'} ) | raw }}
                            </a>
                        {% endif %}
                        {% if config['social']['facebook'] != '' %}
                            <a href="{{config['social']['facebook']}}" target="_blank" class="c-header-4-top-bar__social__icon c-header-4-top-bar__social__icon--facebook">
                                {{ this.render('../../../partials/icons.twig', {icon: 'facebook'} ) | raw }}
                            </a>
                        {% endif %}
                    </div>
                    
                {% endif %}
                    
            </div>
            <div class="col-6 col-lg-4 col-xl-3 justify-content-lg-center">
                <div class="c-header-4__weather-info--date" >{{date|replace({', ':', <br class="d-md-none">'})|raw}}</div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
                <div id="weather" class="c-header-4__weather-info c-header-4__weather-info-xs weather-panel-reverse j-weather-panel"></div>
            </div>

        </div>
    </div>


    {# <div class="u-rule d-none d-lg-block"></div> #}
        {# ******************************************************
                                MAIN NAV
        ****************************************************** #}
    <div class="c-header-4__main-nav d-none d-md-block">   
        <div class="container">
            <div class="row">
                <div class="col-12">       
                    <div class="c-navigation-4 c-navigation-4-md">
                        <ul class="c-navigation-4__list">
                            {{ this.render('../../../partials/_menu.twig', {'menu': headermenu}) | raw }}
                        </ul>
                        
                        
                            
                        <form class="c-search-bar__form d-none d-xl-flex" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                            <input class="c-search-bar__input" type="text" name="s" placeholder="Search"/>
                            <button class="c-search-bar__submit" type="submit" id="searchsubmit">
                                <div class="js-searchButton__search">
                                    {{ this.render('../../../partials/icons.twig', {icon: 'search'} ) | raw }}
                                </div>
                            </button>
                        </form>
                            
                        
                    </div>

                </div>
            </div>
        </div>
    </div>




    {# ******************************************************
                        FIXED HEADER
    ****************************************************** #}
    <div class="c-header-4__fixed c-header-4__fixed--off" id="j-menu-fixed">
        <div class="c-header-4__main-info c-header-4__fixed-block" >
            <a href="{{networkData.defaultBlogUrl}}" class="c-header-4__main-info__logo c-header-4__main-info__logo--fixed" >
                <figure class="c-header-4__main-info__figure c-header-4__main-info__figure--fixed">
                    <img src="{{logo}}" class="image-fluid" />
                </figure>
            </a>
            <div class="c-navigation-4 c-navigation-4-md c-navigation-4__fixed" >
                

                <div class="c-navigation-4__icons c-navigation-4__icons--fixed">
                    <div class="justify-content-right"> 
                            <div class="c-navigation-4__icons__menu js-menu">
                                {{ this.render('../../../partials/icons.twig', {icon: 'hamburger'} ) | raw }}
                            </div>

                            
                            <div class="d-none d-md-flex" style="margin-right:25px;float:right;">
                            {% if paywall == true %}
                                {% if loggedin %}
                                    <a href="{{_AppHelper.getLogoffUrl()}}">
                                        <div class="c-button c-button--grey-bordered c-header-4-top-bar__login-button" style="margin-right: 10px;">Log off</div>
                                    </a>
                                    <a href="{{networkData.defaultBlogUrl}}/user/edit-profile">
                                        <div class="c-button c-button--blue c-header-4-top-bar__login-button">My Account</div>
                                    </a>
                                    
                                {% else %}
                                    <a id="signinBtn" href="javascript:;" >
                                        <div class="c-button c-button--grey-bordered c-header-4-top-bar__login-button" style="margin-right: 10px;">Log in</div>
                                    </a>
                                    <a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions">
                                        <div class="c-button c-button--blue c-header-4-top-bar__login-button">Subscribe</div>
                                    </a>
                                 {% endif %}
                            {% endif %}
                            </div>

                           
                            
                        </div>
                </div>
                

            </div>
            <div class="c-navigation-4 c-navigation-4-md c-navigation-4__fixed-nav justify-content-end">
                    <ul class="c-navigation-4__list d-none d-xl-flex u-margin-top-10 u-margin-right-50">
                        {{ this.render('../../../partials/_menu.twig', {'menu': headermenu}) | raw }}
                    </ul>
                    <form class="c-search-bar__form c-search-bar__form--fixed d-none d-xl-flex" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                        <input class="c-search-bar__input" type="text" name="s" placeholder="Search"/>
                        <button class="c-search-bar__submit" type="submit" id="searchsubmit">
                            <div class="js-searchButton__search">
                                {{ this.render('../../../partials/icons.twig', {icon: 'search'} ) | raw }}
                            </div>
                        </button>
                    </form>
                </div>
        </div>
    </div>



</header>



{# <div class="c-search-bar">
    <div class="container">
        <form class="c-search-bar__form" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
            <div class="c-search-bar__submit"></div>
            <input class="c-search-bar__input" type="text" name="s" placeholder="Search"/>
            <button class="c-button c-button--blue" type="submit" id="searchsubmit">Go</button>
        </form>
    </div>
</div> #}

<div class="responsive-standalone">
    
    <ul class="standalone-menu">
        <li class="responsive-standalone__login">
            {% if paywall == true %}
                {% if loggedin %}
                    <a href="{{_AppHelper.getLogoffUrl()}}">
                        <div class="c-button c-button--grey-bordered c-header-4-top-bar__login-button">Log off</div>
                    </a>
                    <a href="{{networkData.defaultBlogUrl}}/user/edit-profile">
                        <div class="c-button c-button--blue c-header-4-top-bar__login-button">My Account</div>
                    </a>
                    
                {% else %}
                    <a id="signinBtn" href="javascript:;" >
                        <div class="c-button c-button--grey-bordered c-header-4-top-bar__login-button">Log in</div>
                    </a>
                    <a href="{{networkData.defaultBlogUrl}}/subscriptions#subscriptions">
                        <div class="c-button c-button--blue c-header-4-top-bar__login-button">Subscribe</div>
                    </a>
                    
                {% endif %}
            {% endif %}
        </li>
        <li class="c-search-bar d-block d-xl-none">
            <form class="c-search-bar__form" method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                <input class="c-search-bar__input" type="text" name="s" placeholder="Search"/>
                <button class="c-search-bar__submit" type="submit" id="searchsubmit">
                    <div class="js-searchButton__search">
                        {{ this.render('../../../partials/icons.twig', {icon: 'search'} ) | raw }}
                    </div>
                </button>
            </form>
        </li>
        {{ this.render('../../../partials/_menu.twig', {
            'menu': headermenu
            }) | raw }}
    </ul>
    
    

</div>

<div class="responsive-standalone-overlay"></div>