{% set cta = _CallToAction.get({'keywords': 'company_cta', 'includeMetaInfo': 1})%}

{% set themeColor = "#4A90E2" %}
{% if networkData['styling']['colours']['primaryColor'] is defined %}
    {% set themeColor = networkData['styling']['colours']['primaryColor'] %}
{% endif %}

{% set themeColorPrimary = "#4A90E2" %}
{% if networkData['styling']['colours']['headingColor'] is defined %}
    {% set themeColorPrimary = networkData['styling']['colours']['headingColor'] %}
{% endif %}

<div class="cta-wrapper cta-d4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-7">
                <div class="cta-info__content">
                    <h2 class="heading">{{cta.title}}</h2>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="cta-info__details">
                    <svg width="69" height="44" viewBox="0 0 69 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M52.5615 44C61.3248 44 68.4503 36.8746 68.4503 28.1112C68.4503 20.3256 62.8647 13.7623 55.287 12.4546C54.8713 6.85688 59.4916 2.13904 59.5403 2.09015C59.9314 1.68688 60.0171 1.08785 59.7357 0.611427C59.5037 0.219936 59.1004 0 58.6726 0C58.5749 0 58.4648 0.0120964 58.355 0.049015C36.1717 6.20883 36.6361 26.9989 36.6728 28.1356C36.6973 36.8867 43.8107 44 52.5616 44L52.5615 44Z" fill="{{themeColorPrimary}}"/>
                        <path d="M0.00611687 28.1356C0.0306244 36.8867 7.14403 44 15.8949 44C24.6583 44 31.7838 36.8746 31.7838 28.1112C31.7838 20.3256 26.1982 13.7623 18.6205 12.4546C18.2048 6.85688 22.8251 2.13904 22.8737 2.09015C23.2649 1.68688 23.3505 1.08785 23.0692 0.611427C22.8371 0.219936 22.4339 0 22.0061 0C21.9084 0 21.7982 0.0120964 21.6884 0.049015C-0.494831 6.20883 -0.030386 26.9989 0.0062809 28.1356L0.00611687 28.1356Z" fill="{{themeColorPrimary}}"/>
                    </svg>
                    <div class="cta-info__details-name">{{cta.additionalInfo['firstname']}}</div>
                    <div class="cta-info__details-companyName">{{cta.additionalInfo['companyname']}}</div>
                    {% if cta.button['text'] is defined and cta.button['text'] is not empty %}
                        <a href="{{cta.button.url}}" class="c-button c-button--rounded c-button--theme">{{cta.button.text}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>